<div class="ui segment">
  <div class="ui two column very relaxed grid">
    <div class="column" [ngSwitch]="component">
      <app-therapy-form *ngSwitchCase="tabComponent.Form" [therapy]="therapy"
        [usedAsUpdateForm]="therapyFormUsedForUpdating" (newTherapyAdded)="onNewTherapyAdded()"
        (therapyUpdated)="onTherapyUpdated()">
      </app-therapy-form>

      <app-patient-info *ngSwitchCase="tabComponent.PatientInfo" [patient]="patient"></app-patient-info>

      <app-treatment-info *ngSwitchCase="tabComponent.Info" [therapy]="therapy"></app-treatment-info>

      <app-therapy-report id="therapyReport" [patient]="patient" [therapy]="therapy" hidden></app-therapy-report>

      <div class="buttons">
        <button class="ui fluid teal button" *ngSwitchCase="tabComponent.Info" (click)="onClickGeneratePDF()">Preuzmi
          izvestaj o terapiji</button>

        <button class="ui fluid teal button" *ngSwitchCase="tabComponent.Info"
          (click)="onClickUpdateTherapyInfo()">Izmeni
          podatke o terapiji</button>

        <button *ngSwitchCase="tabComponent.Info" class="ui red fluid button" type=button
          (click)="confirmDeletion()">Obrisi
          Terapiju</button>
      </div>
    </div>

    <div class="column">
      <app-treatment-list [therapies]="therapies" (selectTherapy)="onTherapySelected($event)"
        (loadMoreTherapies)="onLoadMoreTherapies()"></app-treatment-list>

      <div class="ui fluid teal buttons" [ngSwitch]="component">
        <button class="ui button" *ngSwitchCase="tabComponent.PatientInfo" (click)="component = tabComponent.Form">Unesi
          podatke
          o terapiji</button>

        <button class="ui button"
          *ngSwitchCase="component === tabComponent.Info || component === tabComponent.Form ? component : ''"
          (click)="backToPatient()">Nazad na pacijenta</button>
      </div>
    </div>
  </div>

  <div class="ui vertical divider">
    <i class="far fa-address-card fa-lg"></i>
  </div>
</div>