<table class="ui mini definition table">
  <tbody>
    <tr>
      <td class="six wide column">Broj ciklusa</td>
      <td>{{therapy.numCycles}}</td>
    </tr>
    <tr>
      <td>Tip terapije</td>
      <td>{{therapy.therapyType}}</td>
    </tr>
    <tr>
      <td>Taxol</td>
      <td>{{therapy.numTaxol}}</td>
    </tr>
    <tr>
      <td>TXTR</td>
      <td>{{therapy.numTxtr}}</td>
    </tr>
    <tr>
      <td>Terapija herceptinom</td>
      <td>{{therapy.herceptinTherapy}}</td>
    </tr>
    <tr>
      <td>Hemioterapija</td>
      <td>{{therapyShortString}}</td>
    </tr>
    <tr>
      <td>Komentar</td>
      <td>{{therapy.comment}}</td>
    </tr>
  </tbody>
</table>