<div class="dashboard">
  <div class="header">
    <button class="ui button" (click)="onNewPatient()">Dodaj novog pacijenta</button>
  </div>
  <div class="colored-header">
    <h1>Dashboard</h1>
  </div>
  <div class="content">
    <app-patient-form *ngIf="displayPatientForm" (onDisplayPatientForm)="setShowPatientForm($event)"></app-patient-form>
    <app-patient-list *ngIf="displayPatientList" [patients]="patients" (selectPatient)="openHistory($event)">
    </app-patient-list>
    <app-tabs *ngIf="displayPatientHistory" [patient]="patient"></app-tabs>
  </div>
</div>