<div class="dashboard">
  <div class="colored-header">
    <h1>Dashboard</h1>
  </div>
  <div class="content" [ngSwitch]="switch_expression">
    <!-- TODO: stilizovati-->
    <div #home class="buttons" *ngSwitchCase="'main'">
      <div>
        <button class="my-button" (click)="switch_expression = 'patients'"><i class="fas fa-hospital-user fa-8x"></i>
          <h3>Pacijenti</h3>
        </button>
        <button class="my-button" (click)="switch_expression = 'biopsies'"><i class="fas fa-microscope fa-8x"></i>
          <h3>Biopsije</h3>
        </button>
      </div>
      <div>
        <button class="my-button" (click)="switch_expression = 'tumors'"><i class="fas fa-ribbon fa-8x"></i>
          <h3>Tumori</h3>
        </button>
        <button class="my-button" (click)="switch_expression = 'therapies'"><i class="fas fa-tablets fa-8x"></i>
          <h3>Terapije</h3>
        </button>
      </div>
    </div>

    <div *ngSwitchCase="'patients'">
      <!--New patient button and patient search bar-->
      <div class="ui grid header">
        <div class="three wide column">
          <button class="ui fluid button" (click)="switch_expression = 'patientForm'">
            Dodaj novog pacijenta
          </button>
        </div>
        <div class="thirteen wide column">
          <form class="ui fluid form" [formGroup]="searchForm" (ngSubmit)="onSearchSubmit()">
            <div class="inline fields">
              <div class="fourteen wide field">
                <input type='text' formControlName="searchParam">
              </div>
              <div class="two wide field">
                <button class="ui fluid button" type="submit">Trazi</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!--Patient list-->
      <app-patient-list [patients]="filteredPatients" (selectPatient)="onPatientSelected()"
        (loadMorePatients)="onLoadMorePatients($event)"> </app-patient-list>
    </div>

    <app-patient-form *ngSwitchCase="'patientForm'" (newPatientAdded)="onNewPatientAdded()"> </app-patient-form>
    <!-- <app-tabs *ngIf="displayPatientHistory" [patient]="patient"> </app-tabs> -->
    <app-tabs *ngSwitchCase="'tabs'"> </app-tabs>

    <app-biopsy-list (loadMoreBiopsies)="onLoadMoreBiopsies($event)" *ngSwitchCase="'biopsies'" [biopsies]="biopsies">
    </app-biopsy-list>

    <app-tumor-list (loadMoreTumors)="onLoadMoreTumors($event)" *ngSwitchCase="'tumors'" [tumors]="tumors">
    </app-tumor-list>

    <app-treatment-list (loadMoreTherapies)="onLoadMoreTherapies($event)" *ngSwitchCase="'therapies'"
      [therapies]="treatments"></app-treatment-list>
  </div>
</div>