<div class="dashboard">
  <div class="header">
    <button class="ui button" *ngIf="displayAllPatientsList" (click)="addNewPatientClicked()">Dodaj novog pacijenta</button>
  </div>

  <div class="colored-header">
    <h1>Dashboard</h1>
  </div>

  <div class="content">

    <!-- TODO: stilizovati-->
    <div #home *ngIf="displayHome">
      Trenutno postoje infomacije o {{patients.length}} pacijenata
      <button (click)="showAllPatientsClicked()">Prikazi sve pacijente u bazi</button> 
      <br>

      Trenutno postoje infomacije o {{biopsies.length}} biopsija
      <button (click)="showAllBiopsiessClicked()">Prikazi sve izvrsene biopsije</button>
      <br>

      Trenutno postoje infomacije o {{tumors.length}} tumora
      <button (click)="showAllTumorsClicked()">Prikazi sve otkrivene tumore</button>
      <br>

      Trenutno postoje infomacije o {{treatments.length}} terapija
      <button (click)="showAllTreatmentsClicked()">Prikazi sve prepisane terapije</button>
      <br>
    </div>

    
    <app-patient-list *ngIf="displayAllPatientsList" [patients]="patients" (selectPatient)="onPatientSelected()"> </app-patient-list>
    <app-patient-form *ngIf="displayPatientForm" (onPatientFormFilled)="onPatientFormFilled()"> </app-patient-form>
    <!-- <app-tabs *ngIf="displayPatientHistory" [patient]="patient"> </app-tabs> -->
    <app-tabs *ngIf="displayPatientHistory"> </app-tabs>

    <app-biopsy-list *ngIf="diplayAllBiopsiesList" [biopsies]="biopsies"></app-biopsy-list>

    <app-tumor-list *ngIf="displayAllTumorsList" [tumors]="tumors"></app-tumor-list>

    <app-treatment-list *ngIf="displayAllTreatmentsList" [therapies]="treatments"></app-treatment-list>
  </div>
</div>