.dashboard {
  height: 100vh;
  width: auto;
  margin-left: 300px;
}

.colored-header {
  height: 120px;
  background: #00b5ad;
  padding: 25px 0px 0px 45px;
  color: white;
}

.content {
  height: fit-content;
  margin: -40px 40px 0px 40px;
  background: white;
  border-radius: 15px;
  padding: 50px 70px 50px 70px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  padding: 50px;
}

.header {
  padding-bottom: 5px;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 100px 0px 100px 0px;
}

.my-button {
  width: 350px;
  height: 200px;
  outline: none;
  margin: 20px;
  border-color: #96979775;
  color: #969797;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

