<table class="ui mini definition table">
  <tbody>
    <tr>
      <td class="six wide column">Ime</td>
      <td>{{tumor.name}}</td>
    </tr>
    <tr>
      <td>Broj biopsije</td>
      <td>{{tumor.biopsyIndex}}</td>
    </tr>
    <tr>
      <td>Gradus</td>
      <td>{{tumor.gradus}}</td>
    </tr>
    <tr>
      <td>Er</td>
      <td>{{tumor.erScore}} | {{tumor.erScorePercent}}% | status: {{tumor.erStatus}}</td>
    </tr>
    <tr>
      <td>Pgr</td>
      <td>{{tumor.pgrScore}} | {{tumor.pgrScorePercent}}% | status: {{tumor.pgrStatus}}</td>
    </tr>
    <tr>
      <td>Her2 INC</td>
      <td>{{tumor.her2INC}} | {{tumor.her2INCPercent}} | {{tumor.her2Status}}</td>
    </tr>
    <tr>
      <td>Her2 FISH-SICH</td>
      <td>{{tumor.her2_FISH_SICH}}</td>
    </tr>
    <tr>
      <td>Ki67</td>
      <td>{{tumor.ki67}}</td>
    </tr>
    <tr>
      <td>Molekularni tip</td>
      <td>{{tumor.molecularSubtype}}</td>
    </tr>
  </tbody>
</table>