<form class="ui mini form" [formGroup]="biopsyForm" (ngSubmit)="onBiopsyFormSubmit()">
  <div class="ui required fluid field" [ngClass]="{error: dateHasErrors}">
    <label>Datum</label>
    <input type="date" formControlName="date" />
  </div>
  <div class="ui negative message" *ngIf="dateHasErrors">
    <ul>
      <li *ngFor="let msg of dateErrors">
        {{msg}}
      </li>
    </ul>
  </div>

  <br>

  <label>Strana</label>
  <div class="required inline-grouped fields" [ngClass]="{error: sideHasErrors}">
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" [value]="BiopsySideEnum.Left" formControlName="biopsySide" (change)="leftSideChecked()" id="nesto">
        <label>{{ BiopsySideEnum.Left }}</label>
      </div>
    </div>

    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" [value]="BiopsySideEnum.Right" formControlName="biopsySide" (change)="rightSideChecked()" />
        <label>{{ BiopsySideEnum.Right }}</label>
      </div>
    </div>

    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" [value]="BiopsySideEnum.Both" formControlName="biopsySide" (change)="bothSidesChecked()" />
        <label>{{ BiopsySideEnum.Both }}</label>
      </div>
    </div>
  </div>
  <div class="ui negative message" *ngIf="sideHasErrors">
    <ul>
      <li *ngFor="let msg of sideErrors">
        {{msg}}
      </li>
    </ul>
  </div>

  <br>

  <div class="ui stackable two column grid">
    <!-- levi i desni deo formulara-->
    <div class="ui field column" [ngClass]="{disabled: this.leftFormDisabled}">
      <!-- levi -->
      <label>Tip</label>
      <div class="inline-grouped fields" [ngClass]="{required: !this.leftFormDisabled, error: biopsyTypeLeftHasErrors}">
        <div class="field">
          <div class="ui radio checkbox">
            <input type="radio" [value]="BiopsyTypeEnum.AxillaBiopsy" formControlName="biopsyTypeLeft" />
            <label>{{ BiopsyTypeEnum.AxillaBiopsy }}</label>
          </div>
        </div>

        <div class="field">
          <div class="ui radio checkbox">
            <input type="radio" [value]="BiopsyTypeEnum.BreastBiopsy" formControlName="biopsyTypeLeft" />
            <label>{{ BiopsyTypeEnum.BreastBiopsy }}</label>
          </div>
        </div>

        <div class="field">
          <div class="ui radio checkbox">
            <input type="radio" [value]="BiopsyTypeEnum.SkinBiopsy" formControlName="biopsyTypeLeft" />
            <label>{{ BiopsyTypeEnum.SkinBiopsy }}</label>
          </div>
        </div>
      </div>
      <div class="ui negative message" *ngIf="biopsyTypeLeftHasErrors">
        <ul>
          <li *ngFor="let msg of biopsyTypeLeftErrors">
            {{msg}}
          </li>
        </ul>
      </div>

      <div class="ui fluid field" [ngClass]="{required: !this.leftFormDisabled, error: histotypeLeftHasErrors}">
        <label>Histotip</label>
        <select formControlName="histotypeLeft" class="ui fluid search selection dropdown">
          <option [value]="BiopsyHistotypeEnum.Type0">{{ BiopsyHistotypeEnum.Type0 }}</option>
          <option [value]="BiopsyHistotypeEnum.Type1">{{ BiopsyHistotypeEnum.Type1 }}</option>
          <option [value]="BiopsyHistotypeEnum.Type2">{{ BiopsyHistotypeEnum.Type2 }}</option>
          <option [value]="BiopsyHistotypeEnum.Type3">{{ BiopsyHistotypeEnum.Type3 }}</option>
          <option [value]="BiopsyHistotypeEnum.Type4">{{ BiopsyHistotypeEnum.Type4 }}</option>
          <option [value]="BiopsyHistotypeEnum.Type5">{{ BiopsyHistotypeEnum.Type5 }}</option>
          <option [value]="BiopsyHistotypeEnum.Type6">{{ BiopsyHistotypeEnum.Type6 }}</option>
          <option [value]="BiopsyHistotypeEnum.Type7">{{ BiopsyHistotypeEnum.Type7 }}</option>
          <option [value]="BiopsyHistotypeEnum.Type8">{{ BiopsyHistotypeEnum.Type8 }}</option>
          <option [value]="BiopsyHistotypeEnum.Type9">{{ BiopsyHistotypeEnum.Type9 }}</option>
        </select>
      </div>
      <div class="ui negative message" *ngIf="histotypeLeftHasErrors">
        <ul>
          <li *ngFor="let msg of histotypeLeftErrors">
            {{msg}}
          </li>
        </ul>
      </div>

      <div class="ui fluid field" [ngClass]="{required: !this.leftFormDisabled, error: multifocalityLeftHasErrors}">
        <label>Multifokalnost</label>
        <input type="text" value="ne" formControlName="multifocalityLeft" />
      </div>
      <div class="ui negative message" *ngIf="multifocalityLeftHasErrors">
        <ul>
          <li *ngFor="let msg of multifocalityLeftErrors">
            {{msg}}
          </li>
        </ul>
      </div>
    </div>

    <!-- desni -->
    <div class="ui field column" [ngClass]="{disabled: this.rightFormDisabled}">
      <label>Tip</label>
      <div class="required inline-grouped fields"
        [ngClass]="{required: !this.rightFormDisabled, error: biopsyTypeRightHasErrors}">
        <div class="field">
          <div class="ui radio checkbox">
            <input type="radio" class="hidden" [value]="BiopsyTypeEnum.AxillaBiopsy"
              formControlName="biopsyTypeRight" />
            <label>{{ BiopsyTypeEnum.AxillaBiopsy }}</label>
          </div>
        </div>

        <div class="field">
          <div class="ui radio checkbox">
            <input type="radio" class="hidden" [value]="BiopsyTypeEnum.BreastBiopsy"
              formControlName="biopsyTypeRight" />
            <label>{{ BiopsyTypeEnum.BreastBiopsy }}</label>
          </div>
        </div>

        <div class="field">
          <div class="ui radio checkbox">
            <input type="radio" class="hidden" [value]="BiopsyTypeEnum.SkinBiopsy" formControlName="biopsyTypeRight" />
            <label>{{ BiopsyTypeEnum.SkinBiopsy }}</label>
          </div>
        </div>
      </div>
      <div class="ui negative message" *ngIf="biopsyTypeRightHasErrors">
        <ul>
          <li *ngFor="let msg of biopsyTypeRightErrors">
            {{msg}}
          </li>
        </ul>
      </div>

      <div class="ui fluid field" [ngClass]="{required: !this.rightFormDisabled, error: histotypeRightHasErrors}">
        <label>Histotip</label>
        <select formControlName="histotypeRight" class="ui fluid search selection dropdown">
          <option [value]="BiopsyHistotypeEnum.Type0">{{ BiopsyHistotypeEnum.Type0 }}</option>
          <option [value]="BiopsyHistotypeEnum.Type1">{{ BiopsyHistotypeEnum.Type1 }}</option>
          <option [value]="BiopsyHistotypeEnum.Type2">{{ BiopsyHistotypeEnum.Type2 }}</option>
          <option [value]="BiopsyHistotypeEnum.Type3">{{ BiopsyHistotypeEnum.Type3 }}</option>
          <option [value]="BiopsyHistotypeEnum.Type4">{{ BiopsyHistotypeEnum.Type4 }}</option>
          <option [value]="BiopsyHistotypeEnum.Type5">{{ BiopsyHistotypeEnum.Type5 }}</option>
          <option [value]="BiopsyHistotypeEnum.Type6">{{ BiopsyHistotypeEnum.Type6 }}</option>
          <option [value]="BiopsyHistotypeEnum.Type7">{{ BiopsyHistotypeEnum.Type7 }}</option>
          <option [value]="BiopsyHistotypeEnum.Type8">{{ BiopsyHistotypeEnum.Type8 }}</option>
          <option [value]="BiopsyHistotypeEnum.Type9">{{ BiopsyHistotypeEnum.Type9 }}</option>
        </select>
      </div>
      <div class="ui negative message" *ngIf="histotypeRightHasErrors">
        <ul>
          <li *ngFor="let msg of histotypeRightErrors">
            {{msg}}
          </li>
        </ul>
      </div>

      <div class="ui fluid field" [ngClass]="{required: !this.rightFormDisabled, error: multifocalityRightHasErrors}">
        <label>Multifokalnost</label>
        <input type="text" value="ne" formControlName="multifocalityRight" />
      </div>
      <div class="ui negative message" *ngIf="multifocalityRightHasErrors">
        <ul>
          <li *ngFor="let msg of multifocalityRightErrors">
            {{msg}}
          </li>
        </ul>
      </div>
    </div>
  </div>

  <br>
  <br>
  <div class="fluid field">
    <label>Komentar</label>
    <textarea type="number" formControlName="comment" rows="5"> </textarea>
  </div>

  <button class="ui fluid teal button" type="submit">Sacuvaj podatke</button>
</form>