<table class="ui mini fixed definition table">
  <tbody>
    <tr>
      <td class="six wide column">Ime</td>
      <td>{{patient.name}}</td>
    </tr>
    <tr>
      <td>Prezime</td>
      <td>{{patient.surname}}</td>
    </tr>
    <tr>
      <td>Ime roditelja</td>
      <td>{{patient.parentName}}</td>
    </tr>
    <tr>
      <td>JMBG</td>
      <td>{{patient.jmbg}}</td>
    </tr>
    <tr>
      <td>Godina rodjenja</td>
      <td>{{patient.yearOfBirth}}</td>
    </tr>
    <tr>
      <td>Pol</td>
      <td>{{patient.gender}}</td>
    </tr>
    <tr>
      <td>Adresa boravka</td>
      <td>{{patient.address}} </td>
    </tr>
    <tr>
      <td>Grad</td>
      <td>{{patient.city}}</td>
    </tr>
    <tr>
      <td>Kontakt telefon</td>
      <td>{{patient.contact}}</td>
    </tr>
    <tr>
      <td>Email</td>
      <td>{{patient.email}}</td>
    </tr>
    <tr>
      <td>Datum dijagnostikovanja tumora</td>
      <td>{{patient.tumorDateDiagnosis}}</td>
    </tr>
    <tr>
      <td>Porodicna anamneza</td>
      <td id="anamneza" class="">
        {{patient.familyAnamnesis}}
        <button>Ucitaj jos...</button>
    </tr>
  </tbody>
</table>

<button class="ui red fluid button" type=button (click)="confirmDeletion()">Obrisi Pacijenta</button>