<table class="ui mini fixed definition table">
  <tbody>
    <tr>
      <td class="six wide column">Ime</td>
      <td>Selena</td>
    </tr>
    <tr>
      <td>Prezime</td>
      <td>Hocevar</td>
    </tr>
    <tr>
      <td>Ime roditelja</td>
      <td>Olga</td>
    </tr>
    <tr>
      <td>JMBG</td>
      <td>1111111111111</td>
    </tr>
    <tr>
      <td>Godina rodjenja</td>
      <td>1998</td>
    </tr>
    <tr>
      <td>Pol</td>
      <td>Z</td>
    </tr>
    <tr>
      <td>Adresa boravka</td>
      <td>adresa 12 </td>
    </tr>
    <tr>
      <td>Grad</td>
      <td>Beograd</td>
    </tr>
    <tr>
      <td>Kontakt telefon</td>
      <td>123457889</td>
    </tr>
    <tr>
      <td>Email</td>
      <td>selena.hocevar@gmail.com</td>
    </tr>
    <tr>
      <td>Datum dijagnostikovanja tumora</td>
      <td>12.23.4343</td>
    </tr>
    <tr>
      <td>Porodicna anamneza</td>
      <td id="anamneza" class="">
        asjkajsasdddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddasjkajsasdddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddasjkajsasddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd
        <button>Ucitaj jos...</button>
    </tr>
  </tbody>
</table>