<div class="ui segment">
  <div class="ui two column very relaxed grid">
    <div class="column">
      <table class="ui mini definition table">
        <tbody>
          <tr>
            <td class="six wide column">Ime</td>
            <td></td>
          </tr>
          <tr>
            <td>Prezime</td>
            <td></td>
          </tr>
          <tr>
            <td>Ime roditelja</td>
            <td></td>
          </tr>
          <tr>
            <td>JMBG</td>
            <td></td>
          </tr>
          <tr>
            <td>Godina rodjenja</td>
            <td></td>
          </tr>
          <tr>
            <td>Pol</td>
            <td></td>
          </tr>
          <tr>
            <td>Adresa boravka</td>
            <td></td>
          </tr>
          <tr>
            <td>Grad</td>
            <td></td>
          </tr>
          <tr>
            <td>Kontakt telefon</td>
            <td></td>
          </tr>
          <tr>
            <td>Email</td>
            <td></td>
          </tr>
          <tr>
            <td>Datum dijagnostikovanja tumora</td>
            <td></td>
          </tr>
          <tr>
            <td>Porodicna anamneza</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="column">
      <p></p>
      <p></p>
      <p></p>
      <p></p>
    </div>
  </div>
  <div class="ui vertical divider">
    <i class="far fa-address-card fa-lg"></i>
  </div>
</div>