<div class="ui segment">
  <div class="ui two column very relaxed grid">
    <div class="column">
      <app-therapy-form *ngIf="showTherapyForm"></app-therapy-form>
      <table *ngIf="showPatientInfo" class="ui mini definition table">
        <tbody>
          <tr>
            <td class="six wide column">Broj ciklusa</td>
            <td>{{therapy.numCycles}}</td>
          </tr>
          <tr>
            <td>Tip terapije</td>
            <td>{{therapy.therapyType}}</td>
          </tr>
          <tr>
            <td>Taxol</td>
            <td>{{therapy.numTaxol}}</td>
          </tr>
          <tr>
            <td>TXTR</td>
            <td>{{therapy.numTxtr}}</td>
          </tr>
          <tr>
            <td>Terapija herceptinom</td>
            <td>{{therapy.herceptinTherapy}}</td>
          </tr>
          <tr>
            <td>Komentar</td>
            <td>{{therapy.comment}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="column">
      <app-treatment-list [therapies]="therapies" (selectTherapy)="onTherapySelected($event)"></app-treatment-list>
      <div class="buttons">
        <button class="ui button" (click)="onShowBiopsyForm()">{{showPatientInfo ? 'Unesi podatke o terapiji' : 'Prikazi
          informacije o pacijentu'}}</button>
      </div>
    </div>
  </div>
  <div class="ui vertical divider">
    <i class="far fa-address-card fa-lg"></i>
  </div>
</div>