<div class="ui segment">
  <div class="ui two column very relaxed grid">
    <div class="column" [ngSwitch]="component">
      <app-tumor-form *ngSwitchCase="tabComponent.Form" [tumor]="tumor" [usedAsUpdateForm]="tumorFormUsedForUpdating"
        (newTumorAdded)="onNewTumorAdded()" (tumorUpdated)="onTumorUpdated()">
      </app-tumor-form>

      <app-patient-info *ngSwitchCase="tabComponent.PatientInfo" [patient]="patient"></app-patient-info>

      <app-tumor-info *ngSwitchCase="tabComponent.Info" [tumor]='tumor'></app-tumor-info>

      <app-tumor-report id="tumorReport" [patient]="patient" [tumor]="tumor" hidden></app-tumor-report>

      <div class="buttons">
        <button class="ui fluid teal button" *ngSwitchCase="tabComponent.Info" (click)="onClickGeneratePDF()">Preuzmi
          izvestaj
          o tumoru</button>

        <button class="ui fluid teal button" *ngSwitchCase="tabComponent.Info" (click)="onClickUpdateTumorInfo()">Izmeni
          podatke o tumoru</button>

        <button *ngSwitchCase="tabComponent.Info" class="ui red fluid button" type=button
          (click)="confirmDeletion()">Obrisi
          Tumor</button>
      </div>
    </div>

    <div class="column">
      <app-tumor-list [tumors]="tumors" (selectTumor)="onTumorSelected($event)" (loadMoreTumors)="onLoadMoreTumors()">
      </app-tumor-list>

      <div class="ui fluid teal buttons" [ngSwitch]="component">
        <button class="ui button" *ngSwitchCase="tabComponent.PatientInfo" (click)="component = tabComponent.Form">Unesi
          podatke
          o tumoru</button>

        <button class="ui button"
          *ngSwitchCase="component === tabComponent.Info || component === tabComponent.Form ? component : ''"
          (click)="backToPatient()">Nazad na pacijenta</button>
      </div>
    </div>
  </div>

  <div class="ui vertical divider">
    <i class="far fa-address-card fa-lg"></i>
  </div>
</div>