<div class="ui segment">
  <div class="ui two column very relaxed grid">
    <div class="column" [ngSwitch]="switch_expression">
      <app-tumor-form *ngSwitchCase="'tumorForm'" [tumor]="tumor" [usedAsUpdateForm]="tumorFormUsedForUpdating"
        (newTumorAdded)="onNewTumorAdded()" (tumorUpdated)="onTumorUpdated()">
      </app-tumor-form>

      <app-patient-info *ngSwitchCase="'patientInfo'" [patient]="patient"></app-patient-info>

      <table *ngSwitchCase="'tumorInfo'" class="ui mini definition table">
        <tbody>
          <tr>
            <td class="six wide column">Gradus</td>
            <td>{{tumor.gradus}}</td>
          </tr>
          <tr>
            <td>Er</td>
            <td>{{tumor.erScore}} | {{tumor.erScorePercent}}% | status: {{tumor.erStatus}}</td>
          </tr>
          <tr>
            <td>Pgr</td>
            <td>{{tumor.pgrScore}} | {{tumor.pgrScorePercent}}% | status: {{tumor.pgrStatus}}</td>
          </tr>
          <tr>
            <td>Her2 INC</td>
            <td>{{tumor.her2INC}} | {{tumor.her2INCPercent}} | {{tumor.her2Status}}</td>
          </tr>
          <tr>
            <td>Her2 FISH-SICH</td>
            <td>{{tumor.her2_FISH_SICH}}</td>
          </tr>
          <tr>
            <td>Ki67</td>
            <td>{{tumor.ki67}}</td>
          </tr>
          <tr>
            <td>Molekularni tip</td>
            <td>{{tumor.molecularSubtype}}</td>
          </tr>
        </tbody>
      </table>

      <div class="buttons">
        <button class="ui fluid teal button" *ngSwitchCase="'tumorInfo'" (click)="onClickUpdateTumorInfo()">Izmeni
          podatke o tumoru</button>

        <button *ngSwitchCase="'tumorInfo'" class="ui red fluid button" type=button (click)="confirmDeletion()">Obrisi
          Tumor</button>
      </div>
    </div>

    <div class="column">
      <app-tumor-list [tumors]="tumors" (selectTumor)="onTumorSelected($event)"
        (loadMoreTumors)="onLoadMoreTumors($event)"></app-tumor-list>

      <div class="ui fluid teal buttons" [ngSwitch]="switch_expression">
        <button class="ui button" *ngSwitchCase="'patientInfo'" (click)="switch_expression = 'tumorForm'">Unesi podatke
          o tumoru</button>

        <button class="ui button"
          *ngSwitchCase="switch_expression === 'tumorInfo' || switch_expression === 'tumorForm' ? switch_expression : ''"
          (click)="backToPatient()">Nazad na pacijenta</button>
      </div>
    </div>
  </div>

  <div class="ui vertical divider">
    <i class="far fa-address-card fa-lg"></i>
  </div>
</div>