<div class="form-container">
  <form class="ui form" [formGroup]="patientForm" (ngSubmit)="onPatientFormSubmit()">
    <div class="ui required fluid field">
      <label>JMBG</label>
      <input type="text" formControlName="jmbg" />
    </div>

    <div class="required inline-grouped fields">
      <div class="five wide field" [ngClass]="{error: nameHasErrors()}">
        <label>Ime</label>
        <input type="text" formControlName="name">
      </div>
      <div class="five wide field">
        <label>Ime roditelja</label>
        <input type="text" formControlName="parentName">
      </div>
      <div class="six wide field">
        <label>Prezime</label>
        <input type="text" formControlName="surname">
      </div>
    </div>

    <div class="required inline-grouped fields">
      <div class="five wide field">
        <label>Godina rodjenja</label>
        <input type="number" formControlName="yearOfBirth">
      </div>
      <div class="five wide field">
        <label>Pol:</label>
        <div class="radio inline-grouped fields ">
          <div class="field">
            <input type="radio" formControlName="gender" [value]="Gender.Male" (change)="onMaleChecked()">
            <label>{{Gender.Male}}</label><br>
          </div>
          <div class="field">
            <input type="radio" formControlName="gender" [value]="Gender.Female" (change)="onFemaleChecked()">
            <label>{{Gender.Female}}</label><br>
          </div>
        </div>
      </div>
      <div class="field" *ngIf="shouldDisplayMenopauseForm">
        <label>Menopauza:</label>
        <div class="radio inline-grouped fields ">

          <div class="field">
            <input type="radio" formControlName="menopause" [value]="Menopause.Pre">
            <label for="pre">pre</label><br>
          </div>

          <div class="field">
            <input type="radio" formControlName="menopause" [value]="Menopause.Post">
            <label for="post">post</label><br>
          </div>

          <div class="field">
            <input type="radio" formControlName="menopause" [value]="Menopause.Peri">
            <label for="peri">peri</label><br>
          </div>
        </div>
      </div>
    </div>


    <div class="required inline-grouped fields">
      <div class="eight wide field">
        <label>Adresa boravka</label>
        <input type="text" formControlName="address">
      </div>
      <div class="eight wide field">
        <label>Grad</label>
        <input type="text" formControlName="city">
      </div>
    </div>
    <div class="required inline-grouped fields">
      <div class="eight wide field">
        <label>Kontakt telefon</label>
        <input type="text" formControlName="contact">
      </div>
      <div class="eight wide field">
        <label>Email</label>
        <input type="email" formControlName="email">
      </div>
    </div>
    <div class="ui required fluid field">
      <label>Datum dijagnostikovanja tumora</label>
      <input type="date" formControlName="tumorDateDiagnosis">
    </div>
    <div class="ui required fluid field">
      <label>Porodicna anamneza</label>
      <textarea formControlName="familyAnamnesis"></textarea>
    </div>
    <button class="ui fluid button" type="submit">Sacuvaj</button>
  </form>


</div>