<table class="ui mini definition table">
  <tbody>
    <tr>
      <td class="six wide column">T stage</td>
      <td>{{patient.tStage}}</td>
    </tr>
    <tr>
      <td>N stage</td>
      <td>{{patient.nStage}}</td>
    </tr>
    <tr>
      <td>M stage</td>
      <td>{{patient.mStage}}</td>
    </tr>
    <tr>
      <td>TNM clinical stage</td>
      <td>{{patient.tnmStage}}</td>
    </tr>
    <tr>
      <td>Klinicki stadijum</td>
      <td>{{patient.clinicalStage}}</td>
    </tr>
  </tbody>
</table>