<table class="ui mini fixed celled definition table">
  <tbody>
    <tr>
      <td class="six wide column">Strana</td>
      <td>{{BiopsySideEnum.Left}}</td>
      <td>{{BiopsySideEnum.Right}}</td>
    </tr>
    <tr>
      <td>Tip</td>
      <td>{{biopsy.biopsyTypeLeft}}</td>
      <td>{{biopsy.biopsyTypeRight}}</td>
    </tr>
    <tr>
      <td>Broj</td>
      <td>{{biopsy.numLeft}}</td>
      <td>{{biopsy.numRight}}</td>
    </tr>
    <tr>
      <td>Histotip</td>
      <td>{{biopsy.histotypeLeft}}</td>
      <td>{{biopsy.histotypeRight}}</td>
    </tr>
    <tr>
      <td>Multifokalnost</td>
      <td>{{biopsy.multifocalityLeft}}</td>
      <td>{{biopsy.multifocalityRight}}</td>
    </tr>
    <tr>
      <td>Komentar</td>
      <td colspan="2">{{biopsy.comment}}</td>
    </tr>
  </tbody>
</table>