<table class="ui selectable sortable celled teal table">
  <thead>
    <tr>
      <th>Ime</th>
      <th>Prezime</th>
      <th>JMBG</th>
      <th>E-mail</th>
    </tr>
  </thead>
  <tbody>
    <app-patient></app-patient>
    <app-patient></app-patient>
    <app-patient></app-patient>
    <app-patient></app-patient>
    <app-patient></app-patient>
    <app-patient></app-patient>
    <app-patient></app-patient>
    <app-patient></app-patient>
    <app-patient></app-patient>
    <app-patient></app-patient>
    <app-patient></app-patient>
    <app-patient></app-patient>
    <app-patient></app-patient>
    <app-patient></app-patient>
    <app-patient></app-patient>
  </tbody>
</table>