<div class="ui segment">
  <div class="ui two column very relaxed grid">
    <div class="column">
      <!-- <app-biopsy-form *ngIf="showBiopsyForm" [patient]="patient"></app-biopsy-form>
      <app-patient-info *ngIf="showPatientInfo" [patient]="patient"></app-patient-info> -->
      <app-biopsy-form *ngIf="showBiopsyForm"> </app-biopsy-form>
      <app-patient-info *ngIf="showPatientInfo"> </app-patient-info>
    </div>
    <div class="column">
      <app-biopsy-list class="list" [biopsies]="biopsies"></app-biopsy-list>
      <div class="buttons">
        <button class="ui button" (click)="onShowBiopsyForm()">{{showPatientInfo ? 'Unesi podatke o biopsiji' : 'Prikazi
          informacije o pacijentu'}}</button>
      </div>
    </div>
  </div>
  <div class="ui vertical divider">
    <i class="far fa-address-card fa-lg"></i>
  </div>
</div>