<div class="ui segment">
  <div class="ui two column very relaxed grid">
    <div class="column" [ngSwitch]="switch_expression">
      <!-- <app-biopsy-form *ngIf="showBiopsyForm" [patient]="patient"></app-biopsy-form>
      <app-patient-info *ngIf="showPatientInfo" [patient]="patient"></app-patient-info> -->
      <app-biopsy-form *ngSwitchCase="'biopsyForm'" (newBiopsyAdded)="onNewBiopsyAdded()"> </app-biopsy-form>
      <app-patient-info *ngSwitchCase="'patientInfo'"> </app-patient-info>
      <table *ngSwitchCase="'biopsyInfo'" class="ui mini fixed definition table">
        <tbody>
          <tr>
            <td class="six wide column">Strana</td>
            <td>{{biopsy.side}}</td>
          </tr>
          <tr>
            <td>Tip</td>
            <td>{{biopsy.biopsyTypeLeft}}</td>
          </tr>
          <tr>
            <td>Broj</td>
            <td>{{biopsy.numLeft}}</td>
          </tr>
          <tr>
            <td>Histotip</td>
            <td>{{biopsy.histotypeLeft}}</td>
          </tr>
          <tr>
            <td>Multifokalnost</td>
            <td>{{biopsy.multifocalityLeft}}</td>
          </tr>
          <tr>
            <td>Komentar</td>
            <td>{{biopsy.comment}}</td>
          </tr>
        </tbody>
      </table>

      <button *ngSwitchCase="'biopsyInfo'" class="ui red fluid button" type=button (click)="confirmDeletion()">Obrisi
        Biopsiju</button>
    </div>

    <div class="column">
      <app-biopsy-list class="list" [biopsies]="biopsies" (selectBiopsy)="onBiopsySelected($event)">
      </app-biopsy-list>
      <div class="buttons" [ngSwitch]="switch_expression">
        <button class="ui button" *ngSwitchCase="'patientInfo'" (click)="switch_expression = 'biopsyForm'">Unesi
          podatke
          o biopsiji</button>
        <button class="ui button" *ngSwitchCase="'biopsyInfo'">Izmeni podatke o biopsiji</button>
        <button class="ui button"
          *ngSwitchCase="switch_expression === 'biopsyInfo' || switch_expression === 'biopsyForm' ? switch_expression : ''"
          (click)="switch_expression = 'patientInfo'">Nazad na pacijenta</button>
      </div>
    </div>
  </div>
  <div class="ui vertical divider">
    <i class="far fa-address-card fa-lg"></i>
  </div>
</div>