<div class="ui segment">
  <div class="ui two column very relaxed grid">
    <div class="column">
      <!-- <app-biopsy-form *ngIf="showBiopsyForm" [patient]="patient"></app-biopsy-form>
      <app-patient-info *ngIf="showPatientInfo" [patient]="patient"></app-patient-info> -->
      <app-biopsy-form *ngIf="showBiopsyForm" (newBiopsyAdded)="onNewBiopsyAdded()"> </app-biopsy-form>
      <app-patient-info *ngIf="!showBiopsyForm && !showBiopsyInfo"> </app-patient-info>
      <table *ngIf="showBiopsyInfo" class="ui mini fixed definition table">
        <tbody>
          <tr>
            <td class="six wide column">Strana</td>
            <td>{{biopsy.side}}</td>
          </tr>
          <tr>
            <td>Tip</td>
            <td>{{biopsy.biopsyTypeLeft}}</td>
          </tr>
          <tr>
            <td>Broj</td>
            <td>{{biopsy.numLeft}}</td>
          </tr>
          <tr>
            <td>Histotip</td>
            <td>{{biopsy.histotypeLeft}}</td>
          </tr>
          <tr>
            <td>Multifokalnost</td>
            <td>{{biopsy.multifocalityLeft}}</td>
          </tr>
          <tr>
            <td>Komentar</td>
            <td>{{biopsy.comment}}</td>
          </tr>
        </tbody>
      </table>
      
      <button *ngIf="showBiopsyInfo" class="ui red fluid button" type=button (click)="confirmDeletion()">Obrisi Biopsiju</button>
    </div>

    <div class="column">
      <app-biopsy-list class="list" [biopsies]="biopsies" (selectBiopsy)="onBiopsySelected($event)">
      </app-biopsy-list>
      <div class="buttons">
        <button class="ui button" (click)="onShowBiopsyForm()">{{!showBiopsyForm ? 'Unesi podatke o
          biopsiji' : 'Prikazi
          informacije o pacijentu'}}</button>
      </div>
    </div>
  </div>
  <div class="ui vertical divider">
    <i class="far fa-address-card fa-lg"></i>
  </div>
</div>