<div class="ui segment">
  <div class="ui two column very relaxed grid">
    <div class="column" [ngSwitch]="switch_expression">
      <app-patient-form *ngSwitchCase="'patientFormForUpdate'" [patient]="patient"
        [usedAsUpdateForm]="patientFormUsedForUpdating" (patientUpdated)="onPatientUpdated()">
      </app-patient-form>

      <app-patient-info *ngSwitchCase="'patientInfo'"></app-patient-info>

      <button class="ui fluid teal button" *ngSwitchCase="'patientInfo'" (click)="onClickUpdatePatientInfo()">Izmeni
        informacije o pacijentu</button>

      <button class="ui red fluid button" *ngSwitchCase="'patientInfo'" type=button (click)="confirmDeletion()">Obrisi
        Pacijenta</button>

      <app-clinical-state-form *ngSwitchCase="'clinicalStateForm'" [patient]="patient"
        [usedAsUpdateForm]="clinicalStateFormUsedForUpdating" (onClinicalStateUpdated)="onClinicalStateUpdated()">

      </app-clinical-state-form>
    </div>

    <div class="column">
      <app-clinical-state-info [patient]="patient"></app-clinical-state-info>

      <div class="ui fluid teal buttons" [ngSwitch]="switch_expression">
        <button class="ui button" *ngSwitchCase="'patientInfo'" (click)="onClickUpdateClinicalState()">Azuriraj podatke
          o klinickom stanju</button>

        <button class="ui button"
          *ngSwitchCase="switch_expression === 'patientFormForUpdate' || switch_expression === 'clinicalStateForm' ? switch_expression : ''"
          (click)="backToPatient()">
          Nazad na pacijenta
        </button>
      </div>
    </div>
  </div>

  <div class="ui vertical divider">
    <i class="far fa-address-card fa-lg"></i>
  </div>


  <button class="ui button" (click)="genPDF()" >Download PDF</button>
        <button class="ui button" (click)="genPDF2()">Make PDF</button>
</div>