.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.ui.button {
  margin: 5px;
}

.ui.grid > .column:not(.row) {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
