<div class="ui segment">
  <div class="ui two column very relaxed grid">
    <div class="column" [ngSwitch]="component">
      <app-patient-form *ngSwitchCase="tabComponent.Form" [patient]="patient"
        [usedAsUpdateForm]="patientFormUsedForUpdating" (patientUpdated)="onPatientUpdated()">
      </app-patient-form>

      <app-patient-info *ngSwitchCase="tabComponent.PatientInfo"></app-patient-info>

      <button class="ui fluid teal button" *ngSwitchCase="tabComponent.PatientInfo"
        (click)="onClickUpdatePatientInfo()">Izmeni
        informacije o pacijentu</button>

      <button class="ui red fluid button" *ngSwitchCase="tabComponent.PatientInfo" type=button
        (click)="confirmDeletion()">Obrisi
        Pacijenta</button>

      <app-clinical-state-form *ngSwitchCase="tabComponent.ClinicalStateForm" [patient]="patient"
        [usedAsUpdateForm]="clinicalStateFormUsedForUpdating" (onClinicalStateUpdated)="onClinicalStateUpdated()">

      </app-clinical-state-form>
    </div>

    <div class="column">
      <app-clinical-state-info [patient]="patient"></app-clinical-state-info>

      <table class="ui mini fixed teal table">
        <tbody>
          <tr>
            <td>Broj biopsija:</td>
            <td><b>{{ numberOfBiopsies }}</b></td>
            <td>Poslednja registrovana biopsija: </td>
            <td><b>{{ lastBiopsyDate }}</b></td>
          </tr>
        </tbody>
      </table>

      <table class="ui mini fixed teal table">
        <tbody>
          <tr>
            <td>Broj tumora:</td>
            <td><b>{{ numberOfTumors }}</b></td>
            <td>Datum poslednje dijagnoze tumora: </td>
            <td><b>{{ lastTumorDate }}</b></td>
          </tr>
        </tbody>
      </table>

      <table class="ui mini fixed teal table">
        <tbody>
          <tr>
            <td>Broj terapija:</td>
            <td><b>{{ numberOfTherapies }}</b></td>
            <td>Datum poslednje prepisane terapije: </td>
            <td><b>{{ lastTherapyDate }}</b></td>
          </tr>
        </tbody>
      </table>

      <div class="ui fluid teal buttons" [ngSwitch]="component">
        <button class="ui button" *ngSwitchCase="tabComponent.PatientInfo"
          (click)="onClickUpdateClinicalState()">Azuriraj podatke
          o klinickom stanju</button>

        <button class="ui button"
          *ngSwitchCase="component === tabComponent.Form || component === tabComponent.ClinicalStateForm ? component : ''"
          (click)="backToPatient()">
          Nazad na pacijenta
        </button>
      </div>
    </div>
  </div>

  <div class="ui vertical divider">
    <i class="far fa-address-card fa-lg"></i>
  </div>
</div>