<div class="ui segment">
  <div class="ui two column very relaxed grid">
    <div class="column" [ngSwitch]="switch_expression">
      <!-- <app-biopsy-form *ngIf="showBiopsyForm" [patient]="patient"></app-biopsy-form>
      <app-patient-info *ngIf="showPatientInfo" [patient]="patient"></app-patient-info> -->
      <app-biopsy-form *ngSwitchCase="'biopsyForm'" [biopsy]="biopsy" [usedAsUpdateForm]="biopsyFormUsedForUpdating" 
                       (newBiopsyAdded)="onNewBiopsyAdded()" (biopsyUpdated)="onBiopsyUpdated()"> 
      </app-biopsy-form>

      <app-patient-info *ngSwitchCase="'patientInfo'"> </app-patient-info>

      <table *ngSwitchCase="'biopsyInfo'" class="ui mini fixed celled definition table">
        <tbody>
          <tr>
            <td class="six wide column">Strana</td>
            <td>{{BiopsySideEnum.Left}}</td>
            <td>{{BiopsySideEnum.Right}}</td>
          </tr>
          <tr>
            <td>Tip</td>
            <td>{{biopsy.biopsyTypeLeft}}</td>
            <td>{{biopsy.biopsyTypeRight}}</td>
          </tr>
          <tr>
            <td>Broj</td>
            <td>{{biopsy.numLeft}}</td>
            <td>{{biopsy.numRight}}</td>
          </tr>
          <tr>
            <td>Histotip</td>
            <td>{{biopsy.histotypeLeft}}</td>
            <td>{{biopsy.histotypeRight}}</td>
          </tr>
          <tr>
            <td>Multifokalnost</td>
            <td>{{biopsy.multifocalityLeft}}</td>
            <td>{{biopsy.multifocalityRight}}</td>
          </tr>
          <tr>
            <td>Komentar</td>
            <td colspan="2">{{biopsy.comment}}</td>
          </tr>
        </tbody>
      </table>

      <button class="ui fluid teal button" *ngSwitchCase="'biopsyInfo'" (click)="onClickUpdateBiopsyInfo()">Izmeni podatke o biopsiji</button>

      <button *ngSwitchCase="'biopsyInfo'" class="ui red fluid button" type=button (click)="confirmDeletion()">Obrisi Biopsiju</button>
    </div>

    <div class="column">
      <app-biopsy-list class="list" [biopsies]="biopsies" (selectBiopsy)="onBiopsySelected($event)" (loadMoreBiopsies)="onLoadMoreBiopsies($event)"></app-biopsy-list>
      
      <div class="ui fluid teal buttons" [ngSwitch]="switch_expression">
        <button class="ui button" *ngSwitchCase="'patientInfo'" (click)="switch_expression = 'biopsyForm'">Unesi podatke o biopsiji</button>
        
        <button class="ui button"
          *ngSwitchCase="switch_expression === 'biopsyInfo' || switch_expression === 'biopsyForm' ? switch_expression : ''"
          (click)="backToPatient()">Nazad na pacijenta</button>
      </div>
    </div>
  </div>

  <div class="ui vertical divider">
    <i class="far fa-address-card fa-lg"></i>
  </div>
</div>