<div class="ui segment">
  <div class="ui two column very relaxed grid">
    <div class="column" [ngSwitch]="component">

      <app-biopsy-form *ngSwitchCase="tabComponent.Form" [biopsy]="biopsy"
        [usedAsUpdateForm]="biopsyFormUsedForUpdating" (newBiopsyAdded)="onNewBiopsyAdded()"
        (biopsyUpdated)="onBiopsyUpdated()">
      </app-biopsy-form>

      <app-patient-info *ngSwitchCase="tabComponent.PatientInfo" [patient]="patient"> </app-patient-info>

      <app-biopsy-info *ngSwitchCase="tabComponent.Info" [biopsy]="biopsy"></app-biopsy-info>

      <app-biopsy-report id="biopsyReport" [patient]="patient" [biopsy]="biopsy" hidden></app-biopsy-report>

      <div class="buttons">
        <button class="ui fluid teal button" *ngSwitchCase="tabComponent.Info" (click)="onClickGeneratePDF()">Preuzmi
          izvestaj o biopsiji</button>

        <button class="ui fluid teal button" *ngSwitchCase="tabComponent.Info"
          (click)="onClickUpdateBiopsyInfo()">Izmeni
          podatke o biopsiji</button>

        <button *ngSwitchCase="tabComponent.Info" class="ui red fluid button" type=button
          (click)="confirmDeletion()">Obrisi
          Biopsiju</button>
      </div>
    </div>

    <div class="column">
      <app-biopsy-list class="list" [biopsies]="biopsies" (selectBiopsy)="onBiopsySelected($event)"
        (loadMoreBiopsies)="onLoadMoreBiopsies()"></app-biopsy-list>

      <div class="ui fluid teal buttons" [ngSwitch]="component">
        <button class="ui button" *ngSwitchCase="tabComponent.PatientInfo" (click)="component = tabComponent.Form">Unesi
          podatke
          o biopsiji</button>

        <button class="ui button" *ngSwitchCase="tabComponent.Form" (click)="backToPatient()">Nazad na
          pacijenta</button>

        <button class="ui button" *ngSwitchCase="tabComponent.Info" (click)="backToPatient()">Nazad na
          pacijenta</button>
      </div>
    </div>
  </div>

  <div class="ui vertical divider">
    <i class="far fa-address-card fa-lg"></i>
  </div>
</div>