<div class="ui vertical inverted visible sidebar menu psuh">
  <a class="item" (click)="displayHomeClicked()">  
    <i class="home icon"></i>
    Pocetna strana
  </a>

  <a class="item" (click)="displayPatientsClicked()">
    <i class="block layout icon"></i>
    Pacijenti
  </a>

  <a class="item" (click)="displayBiopsiesClicked()">
    <i class="block layout icon"></i>
    Biopsije
  </a>

  <a class="item" (click)="displayTumorsClicked()">
    <i class="block layout icon"></i>
    Tumori
  </a>

  <a class="item" (click)="displayTherapiesClicked()">
    <i class="block layout icon"></i>
    Terapije
  </a>
  
  <a class="item" (click)="sendRequest()">  <!-- bice izbaceno u krajnjoj verziji-->
    <i class="block layout icon"></i>
    Test a request
  </a>
</div>
