<div class="ui vertical inverted visible sidebar menu psuh">
  <a class="item" [id]="PageEnum.Main" (click)="onClick($event)">
    <i class="home icon"></i>
    Pocetna strana
  </a>

  <a class="item" [id]="PageEnum.Patients" (click)="onClick($event)">
    Pacijenti
    <i class="fas fa-hospital-user"></i>
  </a>

  <a class="item" [id]="PageEnum.Biopsies" (click)="onClick($event)">
    <i class="fas fa-microscope"></i>
    Biopsije
  </a>

  <a class="item" [id]="PageEnum.Tumors" (click)="onClick($event)">
    <i class="fas fa-ribbon"></i>
    Tumori
  </a>

  <a class="item" [id]="PageEnum.Therapies" (click)="onClick($event)">
    <i class="fas fa-tablets"></i>
    Terapije
  </a>

  <a class="item" (click)="sendRequest()">
    <!-- bice izbaceno u krajnjoj verziji-->
    <i class="block layout icon"></i>
    Test a request
  </a>
</div>