<div class="chart">
  <ul class="numbers">
    <li><span>80</span></li>
    <li><span>60</span></li>
    <li><span>40</span></li>
    <li><span>20</span></li>
    <li><span>0</span></li>
  </ul>
  <ul class="bars">
    <li>
      <div class="bar" id="bar1" data-percentage="20%"></div><span></span>
    </li>
    <li>
      <div class="bar" id="bar2" data-percentage="30%"></div><span></span>
    </li>
    <li>
      <div class="bar" id="bar3" data-percentage="80%"></div><span></span>
    </li>
    <li>
      <div class="bar" id="bar4" data-percentage="40%"></div><span></span>
    </li>
    <li>
      <div class="bar" id="bar5" data-percentage="20%"></div><span></span>
    </li>
  </ul>
</div>