<div class="ui segment">
  <div class="ui two column very relaxed grid">
    <div class="column">
      <app-tumor-form *ngIf="showTumorForm"></app-tumor-form>
      <!-- <app-patient-info *ngIf="showPatientInfo"></app-patient-info> -->
      <table *ngIf="showPatientInfo" class="ui mini definition table">
        <tbody>
          <tr>
            <td class="six wide column">Gradus</td>
            <td>{{tumor.gradus}}</td>
          </tr>
          <tr>
            <td>Er</td>
            <td>{{tumor.erScore}} | {{tumor.erScorePercent}}% | status: {{tumor.erStatus}}</td>
          </tr>
          <tr>
            <td>Pgr</td>
            <td>{{tumor.pgrScore}} | {{tumor.pgrScorePercent}}% | status: {{tumor.pgrStatus}}</td>
          </tr>
          <tr>
            <td>Her2 INC</td>
            <td>{{tumor.her2INC}} | {{tumor.her2INCPercent}} | {{tumor.her2Status}}</td>
          </tr>
          <tr>
            <td>Her2 FISH-SICH</td>
            <td>{{tumor.her2_FISH_SICH}}</td>
          </tr>
          <tr>
            <td>Ki67</td>
            <td>{{tumor.ki67}}</td>
          </tr>
          <tr>
            <td>Molekularni tip</td>
            <td>{{tumor.molecularSubtype}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="column">
      <app-tumor-list [tumors]="tumors" (selectTumor)="onTumorSelected($event)"></app-tumor-list>
      <button class="ui button" (click)="onShowTumorForm()">{{showPatientInfo ? 'Unesi podatke o tumoru' : 'Prikazi
        informacije o tumoru'}}</button>
    </div>
  </div>
  <div class="ui vertical divider">
    <i class="far fa-address-card fa-lg"></i>
  </div>
</div>