<div class="ui segment">
  <div class="ui two column very relaxed grid">
    <div class="column">
      <app-tumor-form *ngIf="showTumorForm"></app-tumor-form>
      <app-patient-info *ngIf="showPatientInfo"></app-patient-info>
    </div>
    <div class="column">
      <table class="ui mini definition table">
        <tbody>
          <tr>
            <td class="six wide column">Gradus</td>
            <td></td>
          </tr>
          <tr>
            <td>Er</td>
            <td>skor / skor% / status</td>
          </tr>
          <tr>
            <td>Pgr</td>
            <td>skor / skor% / status</td>
          </tr>
          <tr>
            <td>Her2 INC</td>
            <td></td>
          </tr>
          <tr>
            <td>Her2 INC%</td>
            <td></td>
          </tr>
          <tr>
            <td>Her2 FISH-SICH</td>
            <td></td>
          </tr>
          <tr>
            <td>Ki67</td>
            <td></td>
          </tr>
          <tr>
            <td>Molekularni tip</td>
            <td></td>
          </tr>

        </tbody>
      </table>
      <button class="ui button" (click)="onShowTumorForm()">{{showPatientInfo ? 'Unesi podatke o tumoru' : 'Prikazi
        informacije o pacijentu'}}</button>
    </div>
  </div>
  <div class="ui vertical divider">
    <i class="far fa-address-card fa-lg"></i>
  </div>
</div>